.hero {
  background: url("../../../public/images/hero.jpg");
  background-size: contain;
  height: 60vh;
  position: relative;
}

#id {
  display: none;
}

.hero__layover {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero__box {
  width: 100%;
  margin-top: 7rem;
  color: white;
  text-align: center;
}
.hero__title {
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
}
.hero__subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.hero__form {
  display: flex;
  margin-top: 1.1rem;
}
.hero__input-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.hero__input {
  outline: none;
  height: 40px;
  border: 1px solid #ff237a;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  color: black;
  font-family: var(--ff-primary);
  font-size: 0.9rem;
  padding-right: 1.25rem;
}
.hero__input::placeholder {
  font-size: 1.1rem;
}
.hero__languages {
  background-color: white;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-height: 11rem;
  overflow-x: hidden;
  overflow-y: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0.63rem 0;
  display: block;
}

.hero__languages::-webkit-scrollbar {
  background-color: #fbcbe6;
  width: 7px;
}
.hero__languages::-webkit-scrollbar-thumb {
  background-color: #ff237a;
  border-radius: 10px;
}
.hero__language-link {
  display: flex;
  align-items: center;
  color: #ff237a;
  padding: 0.3rem 0.64rem;
  font-size: 1.1rem;
}
.hero__language-link:hover {
  background-color: #fbcbe6;
  color: black;
}
.hero__language-link img {
  width: 30px;
  height: 30px;
  margin-left: 7px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 27%);
  border-radius: 50%;
}
.hero__button {
  height: 40px;
  width: 30%;
  background-color: #ff237a;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__button-text {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.hero__clock-icon {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
}

.hero__last-class-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  font-size: 0.8rem;
}
.hero__last-class-time {
  display: flex;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px dashed white;
  padding: 0.3rem 0.64rem;
  margin-left: 0.5rem;
}
.hero__last-class-time i {
  color: rgb(218, 218, 218);
  margin-left: 0.8rem;
  font-size: 1.1rem;
}
.hero__last-class-link {
  color: white;
  border-bottom: 1px solid white;
  font-weight: 700;
}

@media all and (min-width: 768px) {
  .hero {
    height: 90vh;
  }
  .hero__box {
    margin-top: 13rem;
  }
  .hero__title {
    font-size: 2.7rem;
  }
  .hero__subtitle {
    font-size: 1.2rem;
  }
  .hero__input {
    font-size: 1rem;
  }
  .hero__input::placeholder {
    font-size: 1rem;
  }
  .hero__language-link {
    font-size: 1.3rem;
  }
}
@media all and (min-width: 992px) {
  .hero__button-text {
    display: inline;
    font-size: 1.5rem;
    margin-right: 0.6rem;
  }
}
