/* Chatbox Button for Large screens */
.chatbox-toggle-btn {
    background-color: rgb(15, 236, 195);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    transition: var(--transition);
    cursor: pointer;
    z-index: 999;
    display: none;
}
.chatbox-toggle-btn:hover {
    transform: scale(1.12);
}

/* Modal Button for Small screens */
.modal-btn {
    background-color: #01af8f;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    cursor: pointer;
    z-index: 999;
}
.modal-btn-icon {
    height: 30px;
    width: 30px;
}

@media all and (min-width: 768px) {
    .chatbox-toggle-btn {
        display: flex;
    }
    .modal-btn {
        display: none;
    }
}
